<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="odontoweb-deps.min.css">
	<link rel="stylesheet" href="odontoweb-app.min.css">

	<title>OdontoWeb: Sistema para gerenciamento de clínicas odontológicas</title>
</head>
<body data-ng-app="odontoweb">

	<div class="container-fluid">
		
		<div class="topbar row">
			<div class="col-xs-1">
				<button type="button"> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="col-xs-10">
				<div class="topbar__logo center-block">
					<div class="topbar__logo-company"></div>
				</div>
			</div>
			<div class="col-xs-1">
				
			</div>
			<!-- <div ow-tenant-select data-ng-if="isLoggedIn()"></div>
			<div ow-user data-ng-if="isLoggedIn()"></div> -->
		</div>

		
		<div data-ng-view></div>

	</div>

	<script src="odontoweb-deps.js"></script>
	<script src="odontoweb-app.js"></script>
</body>
</html>