<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="odontoweb-deps.min.css">
	<link rel="stylesheet" href="odontoweb-app.min.css">

	<title>OdontoWeb: Sistema para gerenciamento de clínicas odontológicas</title>
</head>
<body data-ng-app="odontoweb">

	<!-- MENU TOPO -->
	<div class="topbar">
		<div class="">
			<div class=""></div>
			<h6 class="">ODONTOWEB</h6>
		</div>
		<div ow-tenant-select data-ng-if="isLoggedIn()"></div>
		<div ow-user data-ng-if="isLoggedIn()"></div>
	</div>

	<!-- CONTEUDO -->
	<div data-ng-view class="container"></div>

	<script src="odontoweb-deps.js"></script>
	<script src="odontoweb-app.js"></script>
</body>
</html>