<div class="row">
	<h3 class="text-center">{{title}}</h3>
	<h6 class="text-center">{{subTitle}}</h6>
</div>
<div class="row" id="loginWrapper">
	<div class="col-sm-12 col-md-12 col-lg-8 col-centered">
		<div class="alert alert-danger" role="alert" ng-show="erro">
		  <strong>USUÁRIO</strong> ou <strong>SENHA</strong> inválidos.
		  Verifique as informações e tente novamente.
		</div>
		<form>
		  <div class="row">
		    <div class="form-group">
				<label>Email</label>
				<input type="email" name="email" class="form-control" placeholder="ex: email@email.com" ng-model="user.email" />
		    </div>
		    <div class="form-group">
				<label>Senha</label>
				<input type="password" name="password" class="form-control" placeholder="ex: 123"  ng-model="user.senha">
		    </div>
		    <div class="col-sm-12">
				<button class="btn button azul" ng-click="login()">ENTRAR</button>
		    </div>
		  </div>
		</form>
	</div>
</div>