<div class="modal-header">
    <h5 class="modal-title">
        Alterar Agendamento do(a) <b>{{vm.agendamento.paciente.nome}}</b>
        <button class="botao botao--fechar" ng-click="$close()"><i class="material-icons">close</i></button>
    </h5>
</div>

<div class="modal-body">
        
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
            <label for="buscaPaciente">Digite o nome do paciente</label>
            <input type="text" class="form-control" name="buscaPaciente" data-ng-keyup="vm.autocompletePaciente(vm.search)" data-ng-model="vm.search" autofocus autocomplete="off" placeholder="Nome do paciente">
            </div>
        </div>
        <div class="col-xs-12">
            <div data-ng-show="vm.completing" class="autocomplete">
            <ul class="autocomplete__results">
                <li data-ng-repeat="paciente in vm.pacientes" data-ng-click="vm.selectPaciente(paciente)"><b>{{paciente.nome}}</b> {{paciente.cpf}}</li>
            </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
            <label for="nomePaciente">Nome do paciente</label>
            <input type="text" name="nomePaciente" class="form-control" data-ng-model="vm.agendamento.paciente.nome" placeholder="Nome do Paciente" disabled="disabled">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" class="form-control" data-ng-model="vm.agendamento.paciente.cpf" placeholder="CPF do Paciente" disabled="disabled">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" class="form-control" data-ng-model="vm.agendamento.paciente.contatoResponse.telefones[0].numero" placeholder="Telefone do Paciente" disabled="disabled">
            </div>
        </div>
    </div>

    <div class="row">
        <fieldset data-ng-disabled="vm.agendamento.paciente == null">
            <div class="col-xs-4">
            <div class="form-group">
                <label for="tipoConsulta">Tipo do agendameto</label>
                <select name="tipoConsulta" id="tipoConsulta" class="form-control" data-ng-options="tipo as tipo.nome for tipo in vm.tiposConsulta track by tipo.idTipoConsulta" data-ng-model="vm.agendamento.tipoConsulta">
                    <option style="display:none" value="">Tipo de Agendamento</option>
                </select>
            </div>
            </div>
            <div class="col-xs-4">
            <div class="form-group">
                <label for="statusConsulta">Status do agendamento</label>
                <select name="statusConsulta" id="statusConsulta" class="form-control" data-ng-options="status as status.nome for status in vm.statusConsulta track by status.idStatus" data-ng-model="vm.agendamento.statusConsulta"/>
            </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                <label for="convenio">Convênio</label>
                <select name="convenio" id="convenio" class="form-control" data-ng-options="convenio as convenio.nome for convenio in vm.convenios track by convenio.idConvenio" data-ng-model="vm.agendamento.convenio">
                    <option style="display:none" value="">Convênio</option>
                </select>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row">
        <fieldset>
            <div class="col-xs-12">
                <div class="input-group" style="width: 200px;float: left;margin: 33px 20px 0 0;">
                    <input type="text" class="form-control" name="dataInicial" placeholder="Data" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.agendamento.dataInicio" is-open="vm.calendarOpen" close-text="Ok">
                    <span class="input-group-addon" ng-click="vm.calendarOpen = true"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div style="width: auto;float: left;margin: 0 20px 0 0;" uib-timepicker ng-model="vm.agendamento.dataInicio" hour-step="1" minute-step="15" show-meridian="ismeridian"></div>
                <div style="width: auto;float: left;margin: 0 10px 0 0;" uib-timepicker ng-model="vm.agendamento.dataFim" hour-step="1" minute-step="15" show-meridian="ismeridian"></div>
                <div style="float: left;margin: 40px 0 10px 0;">
                    <button style="outline: none;" type="button" class="btn btn-primary" ng-model="vm.encaixe" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                        Encaixe? {{(vm.encaixe) ? 'Sim' : 'Não'}}
                    </button>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row">
        <fieldset data-ng-disabled="vm.agendamento.paciente == null">
            <div class="col-xs-12">
            <div class="form-group">
                <label for="observacaoConsulta">Observação</label>
                <textarea class="form-control" name="observacaoConsulta" rows="5" data-ng-model="vm.agendamento.observacao" placeholder="Observações"></textarea>
            </div>
            </div>
        </fieldset>
    </div>
    
</div>

<div class="modal-footer">
    <button class="botao botao--vermelho" ng-click="$close()">Cancelar</button>
    <button class="botao botao--verde" ng-click="vm.alterar()">Salvar Alterações</button>
</div>