<breadcrumb></breadcrumb>

<div class="row">
	<div class="small-12 mediun-12 large-8 small-centered columns no-padding">
		<form name="cidadeForm" ng-submit="editar(cidadeForm.$valid)" novalidate>
			<div class="row">
		    	<div class="small-12 columns">
			    	<label>Cidade
						<input type="text" name="cidade" placeholder="ex: Porto Alegre" ng-model="cidade.nome" required ng-class="{'input-error' : cidadeForm.cidade.$invalid && !cidadeForm.cidade.$pristine }" />
						<p ng-show="cidadeForm.cidade.$invalid && !cidadeForm.cidade.$pristine" class="label-error">Nome da cidade é obrigatório.</p>
			    	</label>
		    	</div>
		  	</div>
		  	<div class="row">
		    	<div class="small-12 columns">
			    	<label>Estado
						<select name="estado" id="estadoSelected" ng-options="option.nome for option in estados track by option.nome" ng-model="cidade.estado" required></select>
			    	</label>
		    	</div>
		  	</div>
		  	<div class="row form-action">
			    <div class="small-12 columns">
			    	<button type="submit" class="button azul" ng-disabled="cidadeForm.$invalid">CADASTRAR</button>
			    </div>
		  	</div>
		</form>
	</div>
</div>
