
<breadcrumb></breadcrumb>

<div class="row">
	<button class="button azul" data-ng-click="go('/cadastros/cidade/novo')">NOVO CADASTRO</button>
</div>

<div class="row">
	<input type="text" name="busca" placeholder="Pesquise aqui. Ex: Porto Alegre" ng-model="searchText">
</div>

<div class="row">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>CIDADE</th>
				<th>ESTADO</th>
				<th>AÇÕES</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cidade in cidades | filter:searchText">
				<td>{{cidade.idCidade}}</td>
				<td>{{cidade.nome}}</td>
				<td>{{cidade.estado.nome}}</td>
				<td ng-show="cidade.idCidade" class="table-actions">
					<button class="button vermelho editar" data-ng-click="go('cadastros/cidade/editar/' + cidade.idCidade)">EDITAR</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>