<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="public/odontoweb-deps.min.css">
	<link rel="stylesheet" href="public/odontoweb-app.min.css">

	<title>OdontoWeb: Sistema para gerenciamento de clínicas odontológicas</title>
</head>
<body data-ng-app="OdontowebApp">

	<div id="side-menu" class="side-navigation">
		<a href="javascript:void(0)" class="close-menu-btn" onclick="closeSideMenu()">&times;</a>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Agenda</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<a href="/#!/agenda">Agenda</a>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Cadastros</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse in">
					<div class="panel-body">
						<a href="/#!/cadastros/siglas">Siglas</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="main-content">
		<!-- MENU TOPO -->
		<div id="topbar-wrapper" class="float-left">
			<div id="logo-wrapper" class="float-left hidden-xs">
				<div id="logo" class="float-left"></div>
				<h6 class="float-left">ODONTOWEB</h6>
			</div>
			<div id="menu-wrapper">
				<button type="button" onclick="openSideMenu()" class="btn btn-primary float-left">Menu</button>
			</div>
			<div id="clinica-wrapper" class="col-sm-4 col-md-4 float-left hidden-xs" data-ng-show="showElement()">
				<div data-ng-controller="ClinicaController">
					<select name="clinica" id="clinicaSelected" data-ng-options="option.nome for option in me.clinicas track by option.nome" data-ng-model="clinicaSelected" data-ng-change="changeTenant()"></select>
				</div>
			</div>
			<div id="user-wrapper" class="float-right" data-ng-controller="AuthenticationController">
				<span class="user-name float-left" data-ng-show="showElement()">{{userName()}}</span>
				<button type="button" class="btn button vermelho float-left" data-ng-click="logout()" data-ng-show="showElement()">SAIR</button>
				<button type="button" class="btn button azul float-left" data-ng-click="go('/login')" data-ng-show="!showElement()">ENTRAR</button>
			</div>
		</div>

		<!-- CONTEUDO -->
		<div id="content-wrapper" data-ng-view></div>
	</div>

	<script src="public/odontoweb-deps.min.js"></script>
	<script src="public/odontoweb-app.min.js"></script>
</body>
</html>