<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<form name="dentistaForm" ng-submit="vm.cadastrar(dentistaForm.$valid)" novalidate>
			<div class="col-xs-12">
				<h5 class="clinicas-list-title"><strong>Dados do profissional!</strong></h5>
			</div>
			<div class="col-xs-6">
				<md-input-container class="md-block">
					<label>Nome Completo</label>
					<input required ng-model="vm.dentista.nome">
				</md-input-container>
			</div>
			<div class="col-xs-6">
				<md-input-container class="md-block">
					<label>Email</label>
					<input required type="email" name="email" ng-model="vm.dentista.email"
							minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
			
					<div ng-messages="dentistaForm.email.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
							Seu email deve conter entre 10 e 100 caracteres e ser um email válido.
						</div>
					</div>
				</md-input-container>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<label>Senha</label>
					<input type="password" required ng-model="vm.dentista.senha">
				</md-input-container>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<label>Genêro</label>
					<md-select ng-model="vm.dentista.genero">
						<md-option value="Masculino">Masculino</md-option>
						<md-option value="Feminino">Feminino</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<label>Nro. Conselho</label>
					<input name="conselho" ng-model="vm.dentista.conselho" required>
				</md-input-container>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<label>Nro. Registro</label>
					<input name="registro" ng-model="vm.dentista.registro" required>
				</md-input-container>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<label>Nro. Ocupação</label>
					<input name="ocupacao" ng-model="vm.dentista.codigoOcupacao" required>
				</md-input-container>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<md-checkbox name="admin" ng-model="vm.dentista.isAdmin">
						Administrador do sistema?
					</md-checkbox>
				</md-input-container>
			</div>
			<div class="col-xs-12">
				<h5 class="clinicas-list-title"><strong>Selecione as clinicas que atende!</strong></h5>
				<md-input-container class="md-block">
					<md-switch class="md-primary" name="clinica" ng-repeat="clinica in vm.clinicas" ng-click="vm.toggle(clinica.id, vm.dentista.clinicas)"> 
					{{clinica.nome}}
					</md-switch>
				</md-input-container>
			</div>
			<div class="col-xs-12">
				<md-button type="submit" class="md-raised md-primary" ng-disabled="dentistaForm.$invalid">CADASTRAR</md-button>
			</div>
		</form>
	</div>
</div>