<div class="form-container">
	<form name="pacienteForm" ng-submit="vm.cadastrar(pacienteForm.$valid)" novalidate>
		<h5 class="form-title">Dados do Paciente</h5>
		
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.nomePaciente.$invalid && !pacienteForm.nomePaciente.$pristine }">
					<label for="nomePaciente">Nome Completo</label>
					<input type="text" class="form-control" name="nomePaciente" data-ng-model="vm.paciente.nome" placeholder="Nome Completo" autofocus required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.rgPaciente.$invalid && !pacienteForm.rgPaciente.$pristine }">
					<label for="rgPaciente">RG</label>
					<input type="text" class="form-control" name="rgPaciente" data-ng-model="vm.paciente.rg" placeholder="RG" ng-minlength="10" ng-maxlength="10" maxlength="10"/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.cpfPaciente.$invalid && !pacienteForm.cpfPaciente.$pristine }">
					<label for="cpfPaciente">CPF</label>
					<input type="text" class="form-control" name="cpfPaciente" data-ng-model="vm.paciente.cpf" placeholder="CPF" ng-minlength="14" ng-maxlength="14" maxlength="14" ui-br-cpf-mask required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.emailPaciente.$invalid && !pacienteForm.emailPaciente.$pristine }">
					<label for="emailPaciente">Email</label>
					<input type="email" class="form-control" name="emailPaciente" data-ng-model="vm.paciente.email" placeholder="Email" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.generoPaciente.$invalid && !pacienteForm.generoPaciente.$pristine }">
					<label for="generoPaciente">Genêro</label>
					<select class="form-control" name="generoPaciente" id="generoPaciente" ng-model="vm.paciente.genero" required>
						<option value="">Selecione o genêro</option>
						<option value="Masculino">Masculino</option>
						<option value="Feminino">Feminino</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.estadoCivilPaciente.$invalid && !pacienteForm.estadoCivilPaciente.$pristine }">
					<label for="estadoCivilPaciente">Estado Civil</label>
					<select class="form-control" name="estadoCivilPaciente" id="estadoCivilPaciente" ng-model="vm.paciente.estadoCivil" required>
						<option value="">Selecione o estado civil</option>
						<option value="Solteiro">Solteiro</option>
						<option value="Casado">Casado</option>
						<option value="Viuvo">Víuvo</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.dataNascimentolPaciente.$invalid && !pacienteForm.dataNascimentolPaciente.$pristine }">
					<label for="dataNascimentolPaciente">Data de Nascimento</label>
					<input type="text" class="form-control" name="dataNascimentolPaciente" data-ng-model="vm.paciente.dataNascimento" placeholder="DD/MM/AAAA" ui-date-mask="DD/MM/YYYY" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<md-input-container class="md-block">
					<md-checkbox name="indicacao" ng-model="vm.paciente.indicacao">
						Indicação?
					</md-checkbox>
				</md-input-container>
			</div>

			<h5 class="form-title">Dados sobre Endereço</h5>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.cep.$invalid && !pacienteForm.cep.$pristine }">
					<label for="cep">CEP</label>
					<input type="text" class="form-control" name="cep" data-ng-model="vm.paciente.cep" placeholder="CEP" ui-br-cep-mask required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.endereco.$invalid && !pacienteForm.endereco.$pristine }">
					<label for="endereco">Endereço</label>
					<input type="text" class="form-control" name="endereco" data-ng-model="vm.paciente.endereco" placeholder="Endereço" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.numero.$invalid && !pacienteForm.numero.$pristine }">
					<label for="numero">Número</label>
					<input type="text" class="form-control" name="numero" data-ng-model="vm.paciente.numero" placeholder="Número" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.cidade.$invalid && !pacienteForm.cidade.$pristine }">
					<label for="cidade">Cidade</label>
					<input type="text" class="form-control" name="cidade" data-ng-model="vm.paciente.cidade" placeholder="Cidade" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.bairro.$invalid && !pacienteForm.bairro.$pristine }">
					<label for="bairro">Bairro</label>
					<input type="text" class="form-control" name="bairro" data-ng-model="vm.paciente.bairro" placeholder="Bairro" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.complemento.$invalid && !pacienteForm.complemento.$pristine }">
					<label for="complemento">Complemento</label>
					<input type="text" class="form-control" name="complemento" data-ng-model="vm.paciente.complemento" placeholder="Complemento"/>
				</div>
			</div>

			<h5 class="form-title">Dados sobre Contato</h5>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.tipoTelefone.$invalid && !pacienteForm.tipoTelefone.$pristine }">
					<label for="tipoTelefone">Tipo Telefone</label>
					<select class="form-control" name="tipoTelefone" id="tipoTelefone" ng-model="vm.paciente.telefone.tipoTelefone" required>
						<option value="">Selecione o tipo telefone</option>
						<option value="Celular">Celular</option>
						<option value="Residencial">Residencial</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.ddd.$invalid && !pacienteForm.ddd.$pristine }">
					<label for="ddd">DDD</label>
					<input type="text" class="form-control" name="ddd" data-ng-model="vm.paciente.telefone.ddd" placeholder="DDD" required/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group" ng-class="{ 'has-error' : pacienteForm.telefone.$invalid && !pacienteForm.telefone.$pristine }">
					<label for="telefone">Telefone</label>
					<input type="text" class="form-control" name="telefone" data-ng-model="vm.paciente.telefone.numero" placeholder="Telefone" required/>
				</div>
			</div>

			<h5 class="form-title form-title--sub">Convênios que possui!</h5>
			<div class="row">
				<div class="col-xs-12">
					<md-input-container class="md-block">
						<md-switch class="md-primary" name="convenio" ng-repeat="convenio in vm.convenios" ng-click="vm.toggle(convenio.idConvenio, vm.paciente.convenios)"> 
							{{convenio.nome}} - {{convenio.cnpj}}
						</md-switch>
					</md-input-container>
				</div>
			</div>
		</div>
		
		<div class="form-footer">
			<button type="submit" class="botao botao--azul" ng-disabled="pacienteForm.$invalid">Cadastrar Paciente</button>
		</div>
	</form>
</div>