body {
    color: #868F9C;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 80px;
    background-color: $gray-color;
    height: auto;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.content {
    padding: $padding;
    float: left;
    width: 100%;
}

.menu-lateral {
    position: fixed;
    border-right: 1px solid #e1e1e1;
    background: white;
    min-height: 100%;
    width: 230px;
    top: 70px;
    left: 0;
    z-index: 99;
}

.menu-lateral-content {
    width: 100%;
    position: relative;
    height: 100%;
    padding-left: 230px;
    overflow-y: auto;
    z-index: 1;
}

#loading-bar .bar {
    background: $blue-color;
}
  