body {
    background-color: $gray-color;
    color: #887888;
    font-family: 'Roboto Condensed', sans-serif;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.content {
    padding: $padding;
}