@mixin button($color){
	border: 1px solid $color;
	background-color: $color;
	color: #FFF;
	font-size: 10pt;
	float: right;
	padding: 10px 18px;
}

.button{
	@include button($font-color);

	&.azul{
		@include button($blue-light-color);

		&:hover{
			background-color: $blue-color;
		}
	}

	&.verde{
		@include button($green-color);

		&:hover{
			background-color: $green-light-color;
		}
	}

	&.vermelho{
		@include button($red-color);

		&:hover{
			background-color: $red-light-color;
		} 
		
	}
}