@mixin button($color){
	border: 1px solid $color;
	background-color: $color;
	color: #FFF;
	font-size: 9pt;
	float: right;
	padding: 12px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

.button{
	@include button($font-color);

	&.azul{
		@include button($blue-light-color);

		&:hover{
			background-color: $blue-color;
		}
	}

	&.verde{
		@include button($green-color);

		&:hover{
			background-color: $green-light-color;
		}
	}

	&.vermelho{
		@include button($red-color);

		&:hover{
			background-color: $red-light-color;
		} 
		
	}
}

.button[disabled] {
	opacity: .35;
}