#calendarContainer mwl-calendar .cal-month-box [class*=cal-cell]
, #calendarContainer mwl-calendar .cal-year-box [class*=span] {
    background: $white-color;
    color: #4b4c4c;
}

mwl-calendar .cal-slide-content {
    background: $font-color;
    box-shadow: none;
}

.cal-day-box .day-highlight,
a.event-item {
    color: white;
}

a.event-item {
    height: 80%;
    display: block;
}

.cal-day-box .cal-day-hour-part,
.cal-day-box .cal-day-hour-part .cal-day-hour-part-spacer {
    height: 50px;
}