.form-control {
    background: $white-color;
    box-shadow: none;
    border: 1px solid $gray-dark-color;
    height: 45px;

    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $blue-light-color;
    }
}
