input[type=text], select{
    border-radius: 4px;
    color: $font-color;
    font-weight: 500;
    font-size: 15px;
    box-shadow: none;
    margin-bottom: 5px;

    option{
        height: 20px;
    }
}
input[type=text]:focus{
    border: 1px solid $base-color;
    box-shadow: none;
}
input.ng-dirty.ng-valid-parse.ng-empty.ng-invalid.ng-invalid-required.input-error.ng-touched{
    border: 1px solid red;
}
.label-error{
    color: red;
}