$blue-color: #1774F0;
$blue-light-color: #e8f1ff;
$gray-color: #F4F4F4;
$gray-light-color: #f1f1f1;
$gray-dark-color: #E5E5E5;
$white-color: #FFFFFF;
$red-color: #ea4220;
$red-light-color: #db4325;
$green-color: #27db3c;
$green-light-color: #25c638;

$font-color: #95a5a6;
$padding: 15px;

$topbar-height: 70px;
