$base-color: #017BC1;
$gray-color: #F7F7F7;
$background-color: #FAFBFC;
$contrast-color: #2A6692;
$font-color: #95a5a6;
$padding: 15px;

$topbar-height: 70px;
$sidebar-width: 220px;
$sidebar-small-width: 70px;
$sidebar-color: #34495e;

$menu-ativo-bg-color: #243342;
$menu-ativo-font-color: #FFFFFF;

$border-color: #cacaca;