<div class="form-container">
	<form name="cadastroForm" ng-submit="vm.cadastrar(cadastroForm.$valid)" novalidate>
		<h5 class="form-title">Dados do Paciente - Data do Cadastro ({{vm.request.dataCadastro |  date:'dd-MM-yyyy'}})</h5>
		<div via-cep-form>
			<div class="row">
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.nomePaciente.$invalid && !cadastroForm.nomePaciente.$pristine }">
						<label for="nomePaciente" class="required">Nome Completo*</label>
						<input type="text" class="form-control" name="nomePaciente" data-ng-model="vm.request.nome" placeholder="Nome Completo" autofocus required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.rgPaciente.$invalid && !cadastroForm.rgPaciente.$pristine }">
						<label for="rgPaciente" class="required">RG*</label>
						<input type="text" class="form-control" name="rgPaciente" data-ng-model="vm.request.rg" placeholder="RG" required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.cpfPaciente.$invalid && !cadastroForm.cpfPaciente.$pristine }">
						<label for="cpfPaciente" class="required">CPF*</label>
						<input type="text" class="form-control" name="cpfPaciente" data-ng-model="vm.request.cpf" placeholder="CPF" ng-minlength="14" ng-maxlength="14" maxlength="14" ui-br-cpf-mask required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.generoPaciente.$invalid && !cadastroForm.generoPaciente.$pristine }">
						<label for="generoPaciente" class="required">Genêro*</label>
						<select class="form-control" name="generoPaciente" id="generoPaciente" ng-model="vm.request.genero" required>
							<option value="">Selecione o genêro</option>
							<option value="MASCULINO">Masculino</option>
							<option value="FEMININO">Feminino</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.estadoCivilPaciente.$invalid && !cadastroForm.estadoCivilPaciente.$pristine }">
						<label for="estadoCivilPaciente" class="required">Estado Civil*</label>
						<select class="form-control" name="estadoCivilPaciente" id="estadoCivilPaciente" ng-model="vm.request.estadoCivil" required>
							<option value="">Selecione o estado civil</option>
							<option value="SOLTEIRO">Solteiro</option>
							<option value="CASADO">Casado</option>
							<option value="VIUVO">Víuvo</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.dataNascimentolPaciente.$invalid && !cadastroForm.dataNascimentolPaciente.$pristine }">
						<label for="dataNascimentolPaciente" class="required">Data de Nascimento*</label>
						<input type="text" class="form-control" name="dataNascimentolPaciente" data-ng-model="vm.request.dataNascimento" placeholder="DD/MM/AAAA" required/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.profissaoPaciente.$invalid && !cadastroForm.profissaoPaciente.$pristine }">
						<label for="profissaoPaciente" class="required">Profissão*</label>
						<input type="text" class="form-control" name="profissaoPaciente" data-ng-model="vm.request.profissao.nome" placeholder="Profissão" required/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.localTrabalhoPaciente.$invalid && !cadastroForm.localTrabalhoPaciente.$pristine }">
						<label for="localTrabalhoPaciente" class="required">Local de Trabalho*</label>
						<input type="text" class="form-control" name="localTrabalhoPaciente" data-ng-model="vm.request.localTrabalho" placeholder="Local de Trabalho" required/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.nomeMaePaciente.$invalid && !cadastroForm.nomeMaePaciente.$pristine }">
						<label for="nomeMaePaciente" class="required">Nome da Mãe*</label>
						<input type="text" class="form-control" name="nomeMaePaciente" data-ng-model="vm.request.nomeMae" placeholder="Nome da Mãe" required/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.nomePaiPaciente.$invalid && !cadastroForm.nomePaiPaciente.$pristine }">
						<label for="nomePaiPaciente" class="required">Nome da Pai*</label>
						<input type="text" class="form-control" name="nomePaiPaciente" data-ng-model="vm.request.nomePai" placeholder="Nome da Pai" required/>
					</div>
				</div>
			</div>

			<div class="row">
				<h5 class="form-title">Dados sobre Indicação</h5>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.indicacao.$invalid && !cadastroForm.indicacao.$pristine }">
						<label for="indicacao">Indicação</label>
						<select name="indicacao" id="indicacao" class="form-control" data-ng-options="indicacao as indicacao.nome for indicacao in vm.indicacoes track by indicacao.idIndicacao" data-ng-model="vm.request.indicacaoPaciente.indicacao">
							<option style="display:none" value="">Indicação</option>
						</select>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.nomeIndicacao.$invalid && !cadastroForm.nomeIndicacao.$pristine }">
						<label for="nomeIndicacao">Nome</label>
						<input type="text" class="form-control" name="nomeIndicacao" data-ng-model="vm.request.indicacaoPaciente.nome" placeholder="Nome"/>
					</div>
				</div>
			</div>			

			<div class="row">
				<h5 class="form-title">Dados sobre Redes Sociais</h5>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.nomeRedeSocial.$invalid && !cadastroForm.nomeRedeSocial.$pristine }">
						<label for="nomeRedeSocial">Rede Social</label>
						<select name="nomeRedeSocial" id="nomeRedeSocial" class="form-control" data-ng-options="redeSocial as redeSocial.nome for redeSocial in vm.redesSociais track by redeSocial.idRedeSocial" data-ng-model="vm.redeSocialPacienteRequest.redeSocial">
							<option style="display:none" value="">Rede Social</option>
						</select>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.enderecoRedeSocial.$invalid && !cadastroForm.enderecoRedeSocial.$pristine }">
						<label for="enderecoRedeSocial">Endereço / URL</label>
						<input type="text" class="form-control" name="enderecoRedeSocial" data-ng-model="vm.redeSocialPacienteRequest.endereco" placeholder="Endereço / URL"/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="botao botao--verde" style="margin-top:25px;" data-ng-click="vm.adicionarRedeSocial()">Adicionar</div>
				</div>
			</div>

			<div class="row">
				<div data-ng-if="vm.request.redesSociaisPaciente.length > 0">
					<div class="list-header">
						<div class="col-xs-2">Identificador</div>
						<div class="col-xs-3">Nome</div>
						<div class="col-xs-4">Endereço</div>
					</div>
				
					<div class="list-item" data-ng-repeat="redeSocial in vm.request.redesSociaisPaciente">
						<div class="col-xs-2">{{redeSocial.redeSocial.idRedeSocial}}</div>
						<div class="col-xs-3">{{redeSocial.redeSocial.nome}}</div>
						<div class="col-xs-4">{{redeSocial.endereco}}</div>
						<div class="col-xs-3">
							<div class="botao botao--vermelho" data-ng-click="vm.removerRedeSocial($index)" style="margin-top:10px;">Remover</div>
						</div>
					</div>
				</div>
			</div>	

			<div class="row">
				<h5 class="form-title">Dados sobre Endereço</h5>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.cep.$invalid && !cadastroForm.cep.$pristine }">
						<label for="cep" class="required">CEP*</label>
						<input type="text" class="form-control" name="cep" data-ng-model="vm.request.endereco.cep.cep" placeholder="CEP" via-cep="cep" ui-br-cep-mask required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.endereco.$invalid && !cadastroForm.endereco.$pristine }">
						<label for="endereco" class="required">Endereço*</label>
						<input type="text" class="form-control" name="endereco" data-ng-model="vm.request.endereco.endereco" placeholder="Endereço" via-cep="logradouro" required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.numero.$invalid && !cadastroForm.numero.$pristine }">
						<label for="numero" class="required">Número*</label>
						<input type="text" class="form-control" name="numero" data-ng-model="vm.request.endereco.numero" placeholder="Número" required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.cidade.$invalid && !cadastroForm.cidade.$pristine }">
						<label for="cidade" class="required">Cidade*</label>
						<input type="text" class="form-control" name="cidade" data-ng-model="vm.request.endereco.cidade.nome" placeholder="Cidade" via-cep="localidade" required/>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.bairro.$invalid && !cadastroForm.bairro.$pristine }">
						<label for="bairro" class="required">Bairro*</label>
						<input type="text" class="form-control" name="bairro" data-ng-model="vm.request.endereco.bairro.nome" placeholder="Bairro" via-cep="bairro" required/>
					</div>
				</div>
				<div class="col-xs-1">
					<div class="form-group">
						<label for="uf" class="required">UF*</label>
						<input type="text" class="form-control" name="uf" data-ng-model="vm.request.endereco.cidade.estado.sigla.sigla" placeholder="UF" via-cep="uf" required/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.complemento.$invalid && !cadastroForm.complemento.$pristine }">
						<label for="complemento">Complemento</label>
						<input type="text" class="form-control" name="complemento" data-ng-model="vm.request.endereco.complemento" placeholder="Complemento"/>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.pontoReferencia.$invalid && !cadastroForm.pontoReferencia.$pristine }">
						<label for="pontoReferencia">Ponto de Referência</label>
						<input type="text" class="form-control" name="pontoReferencia" data-ng-model="vm.request.endereco.pontoReferencia" placeholder="Ponto de Referência"/>
					</div>
				</div>
			</div>	
			
			<div class="row">
				<h5 class="form-title">Dados sobre Contato</h5>
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.email.$invalid && !cadastroForm.email.$pristine }">
						<label for="email" class="required">Email*</label>
						<input type="email" class="form-control" name="email" data-ng-model="vm.request.contato.email" placeholder="Email" required/>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.identificador.$invalid && !cadastroForm.identificador.$pristine }">
						<label for="identificador">Identificador</label>
						<input type="text" class="form-control" name="identificador" data-ng-model="vm.telefone.nome" placeholder="Identificador"/>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.tipoTelefone.$invalid && !cadastroForm.tipoTelefone.$pristine }">
						<label for="tipoTelefone">Tipo Telefone</label>
						<select class="form-control" name="tipoTelefone" id="tipoTelefone" ng-model="vm.telefone.tipoTelefone">
							<option value="">Tipo telefone</option>
							<option value="Celular">Celular</option>
							<option value="Residencial">Residencial</option>
						</select>
					</div>
				</div>
				<div class="col-xs-1">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.ddd.$invalid && !cadastroForm.ddd.$pristine }">
						<label for="ddd">DDD</label>
						<input type="text" class="form-control" name="ddd" data-ng-model="vm.telefone.ddd" placeholder="DDD"/>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group" ng-class="{ 'has-error' : cadastroForm.telefone.$invalid && !cadastroForm.telefone.$pristine }">
						<label for="telefone">Telefone</label>
						<input type="text" class="form-control" name="telefone" data-ng-model="vm.telefone.numero" placeholder="Telefone"/>
					</div>
				</div>
				<div class="col-xs-2">
					<md-input-container class="md-block" style="margin: 30px 0 0 0;">
						<md-checkbox name="principal" ng-model="vm.telefone.principal">
							Principal?
						</md-checkbox>
					</md-input-container>
				</div>
				<div class="col-xs-3">
					<div class="botao botao--verde" style="margin-top:25px;" data-ng-click="vm.adicionarTelefone()">Adicionar Telefone</div>
				</div>
			</div>
			
			<div class="row">
				<div data-ng-if="vm.request.contato.telefones.length > 0">
					<div class="list-header">
						<div class="col-xs-2">Identificador</div>
						<div class="col-xs-4">Tipo</div>
						<div class="col-xs-1">DDD</div>
						<div class="col-xs-2">Número</div>
					</div>
				
					<div class="list-item" data-ng-repeat="telefone in vm.request.contato.telefones">
						<div class="col-xs-2">{{telefone.nome}}</div>
						<div class="col-xs-4">{{telefone.tipoTelefone}}</div>
						<div class="col-xs-1">{{telefone.ddd}}</div>
						<div class="col-xs-2">{{telefone.numero}}</div>
						<div class="col-xs-3">
							<div class="botao botao--vermelho" data-ng-click="vm.removerTelefone($index)" style="margin-top:10px;">Remover Telefone</div>
						</div>
					</div>
				</div>
			</div>	

			<div class="row">
				<h5 class="form-title">Observações</h5>
				<div class="col-xs-12">
					<md-input-container class="md-block" style="float:left;">
						<md-checkbox name="pendenciaFinanceira" ng-model="vm.request.pendenciaFinanceira" style="float:left">
							Possui Pendência Financeira?
						</md-checkbox>
					</md-input-container>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="observacaoPaciente">Observação</label>
						<textarea class="form-control" name="observacaoPaciente" rows="5" data-ng-model="vm.request.observacao" placeholder="Observação"></textarea>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-footer">
			<button type="submit" class="botao botao--azul" ng-disabled="cadastroForm.$invalid">Atualizar Paciente</button>
		</div>
	</form>
</div>