<div class="menu-user">
    <div class="menu-user__profile">
        <i class="material-icons">person_outline</i>
        <div class="menu-user__profile-user">
            <b>Bem vindo,</b><br> 
            {{usuario.nome}}
        </div>
        <i class="material-icons settings">more_vert</i>
    </div>
    <div class="menu-user__clinicas">
        <h6>
            <i class="material-icons">business</i>
            Suas Clínicas
        </h6>
        <ul>
            <li data-ng-repeat="t in tenants" data-ng-class="{'ativo': t.cnpj == tenant.cnpj}" data-ng-click="trocar(t.id)">{{t.nome}}</li>
        </ul>
    </div>
    <div class="menu-user__logout">
        <button class="btn button vermelho" ng-click="sair()">SAIR</button>
    </div>
</div>