<div class="menu-user">
    <div class="menu-user__profile">
        <i class="material-icons">person_outline</i>
        <div class="menu-user__profile-user">
            <b>Bem vindo,</b><br> 
            {{vm.$storage.currentUser.email}}
        </div>
        <i class="material-icons settings">more_vert</i>
    </div>
    <div class="menu-user__clinicas">
        <h6>
            <i class="material-icons">business</i>
            Suas Clínicas
        </h6>
        <ul>
            <li data-ng-repeat="tenant in vm.$storage.currentUser.clinicas" data-ng-class="{'ativo': tenant.cnpj == vm.$storage.currentTenant.cnpj}" data-ng-click="changeTenant(tenant.id)">{{tenant.nome}}</li>
        </ul>
    </div> 
    <div class="menu-user__logout">
        <button class="botao botao--vermelho botao--block" data-ng-click="logout()">SAIR</button>
    </div>
</div>