<div class="topbar row no-gutter">
    <div class="col-xs-9">
        <div class="topbar__logo">

        </div>
        <div class="topbar__menu" data-ng-if="isLoggedIn()">
            <ul>
                <li ng-class="{ active: isActive('/agenda')}"><i class="material-icons">today</i><a href="#!/agenda">Agenda</a></li>
                <li ng-class="{ active: isActive('/cadastro/paciente')}"><i class="material-icons">supervisor_account</i><a href="#!/cadastro/paciente">Pacientes</a></li>
                <li ng-class="{ active: isActive('/cadastro/dentista')}"><i class="material-icons">group_add</i><a href="#!/cadastro/dentista">Profissionais</a></li>
                <li ng-class="{ active: isActive('/cadastro/recepcionista')}"><i class="material-icons">face</i><a href="#!/cadastro/recepcionista">Recepcionistas</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="topbar__profile" data-ng-if="isLoggedIn()">
            <i class="material-icons" id="btnMenu" data-ng-click="toggleMenu()">keyboard_arrow_down</i>
            <div class="topbar__profile-details">
                <span class="topbar__profile-details-user"><b>Acessando dados da clínica</b></span>
                <span class="topbar__profile-details-tenant">{{vm.$storage.currentTenant.nome}}</span>
            </div>
        </div>
    </div>
</div>
<div class="overlay-menu"></div>