<div class="row" id="calendarContainer">
	<div class="col-md-2 busca-dentistas-container" data-ng-if="vm.dentistas.length">
		
		<div class="form-group has-feedback">
		  <input type="text" class="form-control" name="busca-profissional" data-ng-model="busca.nome" placeholder="Dentistas">
		  <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
		</div>

		<ul class="lista-dentistas-agenda">
			<li data-ng-repeat="dentista in vm.dentistas | filter:busca:strict as resultados" data-ng-class="{'dentista--ativo': vm.dentistaAtivo == dentista}" data-ng-click="vm.atualizarAgenda(dentista)">
				<span class="glyphicon glyphicon-user"></span> 
				{{dentista.nome}}
			</li>
			<li data-ng-if="resultados.length == 0" class="vazio">
		  		<strong>Nenhum dentista encontrado...</strong>
			</li>
		</ul>

	</div>

	<div class="col-md-10 calendar-container">
		<div class="row">
			<div class="btn-group">
				<button
					class="btn btn-primary"
					mwl-date-modifier
					date="vm.viewDate"
					decrement="vm.calendarView">
		      		Anterior
		    	</button>
				<button
					class="btn btn-primary"
					mwl-date-modifier
					date="vm.viewDate"
					set-to-today>
					Hoje
				</button>
				<button
					class="btn btn-primary"
					mwl-date-modifier
					date="vm.viewDate"
					increment="vm.calendarView">
					Próximo
				</button>
			</div>
			
			<div class="btn-group">
				<label class="btn btn-primary" data-ng-class="{'active': vm.calendarView == 'year'}" ng-model="vm.calendarView" ng-click="vm.calendarView = 'year'">Ano</label>
				<label class="btn btn-primary" data-ng-class="{'active': vm.calendarView == 'month'}" ng-model="vm.calendarView" ng-click="vm.calendarView = 'month'">Mês</label>
				<label class="btn btn-primary" data-ng-class="{'active': vm.calendarView == 'week'}" ng-model="vm.calendarView" ng-click="vm.calendarView = 'week'">Semana</label>
				<label class="btn btn-primary" data-ng-class="{'active': vm.calendarView == 'day'}" ng-model="vm.calendarView" ng-click="vm.calendarView = 'day'">Dia</label>
			</div>
			
			<div class="btn-group pull-right">
				<button class="btn btn-success" data-ng-click="vm.cadastrarEvento(vm.dataSelecionada)">
					<span class="glyphicon glyphicon-plus"></span>
					Agendar
				</button>
			</div>
			
		</div>

		<div class="row text-center">
			<h3>{{vm.calendarTitle}}</h3>
		</div>

		<div class="row">
			<mwl-calendar
			    view="vm.calendarView"
			    view-date="vm.viewDate"
			    view-title="vm.calendarTitle"
			    events="vm.eventos"
				on-event-click="vm.visualizarEvento(calendarEvent)"
				on-timespan-click="vm.selecionarData(calendarDate)"
			    on-view-change-click="vm.viewChange(calendarDate, calendarNextView)"
			    cell-is-open="vm.cellIsOpen"
			    day-view-split="15">
			</mwl-calendar>
		</div>

	</div>

</div>