<div class="menu-lateral">
	<div class="busca-dentistas-container">
		<div class="busca-dentista">
			<i class="material-icons">search</i>
			<input type="text" class="form-control" name="busca-profissional" data-ng-model="busca.nome" placeholder="Busca Profissional">
		</div>
		<ul>
			<li data-ng-repeat="dentista in vm.dentistas | filter:busca:strict as resultados" data-ng-class="{'active': vm.dentistaAtivo == dentista}" data-ng-click="vm.atualizarAgendaByDentista(dentista)">
				{{dentista.nome | captalize}}
			</li>
			<li data-ng-if="resultados.length == 0" class="vazio">
				<strong>Nenhum dentista encontrado...</strong>
			</li>
		</ul>
	</div>
</div>

<div class="menu-lateral-content">
	<div class="calendar-search">
		<div class="form-group">
			<label for="buscaPaciente">Busque um paciente pelo nome ou cpf</label>
			<input type="text" class="form-control form-control--big" name="buscaPaciente" data-ng-model="vm.search" data-ng-keyup="vm.autocompletePaciente(vm.search)" placeholder="Nome ou CPF do paciente" autocomplete="off">
			<i class="material-icons" data-ng-show="vm.completing" data-ng-click="vm.clearResults()">close</i>
		</div>
		<div class="calendar-search__results" data-ng-show="vm.completing">
			<div class="autocomplete">
				<h4 class="autocomplete__title">Resultados Encontrados <strong>({{vm.eventosAutocomplete.length}})</strong></h4>
				<ul class="autocomplete__results">
					<li data-ng-repeat="evento in vm.eventosAutocomplete">
						<div class="autocomplete__results-info">
							<h5><strong>{{evento.paciente.nome}}</strong></h5>
							<strong>Tel: </strong> {{evento.paciente.telefone}}
							<strong>Email: </strong> {{evento.paciente.email}}
						</div>
						<div class="autocomplete__results-action">
							<span>{{evento.startsAt | date:'dd-MM-yyyy'}} - {{evento.startsAt | date:'HH:mm'}} - {{evento.endsAt | date:'HH:mm'}}</span>
							<button class="botao botao--azul pull-right" data-ng-click="vm.visualizarEvento(evento)">Visualizar</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="calendar-actions">
		<div class="btn-group btn-view">
			<label class="botao botao--azul" data-ng-class="{'active': vm.calendarView == 'week'}" data-ng-click="vm.navigateCalendar(undefined, 'week')">Semana</label>
			<label class="botao botao--azul" data-ng-class="{'active': vm.calendarView == 'day'}" data-ng-click="vm.navigateCalendar(undefined, 'day')">Dia</label>
		</div>
		<div class="btn-group btn-control">
			<button class="botao botao--azul botao--icone" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" data-ng-click="vm.navigateCalendar()">
				&lt;
			</button>
			<button class="botao botao--azul" mwl-date-modifier date="vm.viewDate" set-to-today data-ng-click="vm.navigateCalendar()">
				Hoje
			</button>
			<button class="botao botao--azul botao--icone" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" data-ng-click="vm.navigateCalendar()">
				&gt;
			</button>
		</div>
	</div>

	<h1 class="calendar-title">{{vm.viewTitle}}</h1>

	<div class="calendar-container">
		<mwl-calendar
			view="vm.calendarView"
			view-date="vm.viewDate"
			view-title="vm.viewTitle"
			day-view-time-position="side"
			events="vm.eventos"
			cell-is-open="vm.cellIsOpen"
			day-view-start="06:00"
			day-view-end="22:59"
			day-view-split="15"
			cell-auto-open-disabled="true"
			on-event-click="vm.visualizarEvento(calendarEvent)"
			on-view-change-click="vm.navigateCalendar(calendarDate, calendarNextView)"
			on-date-range-select="vm.cadastrarEvento(calendarRangeStartDate, calendarRangeEndDate)">
		</mwl-calendar>
	</div>
</div>

