
<breadcrumb></breadcrumb>

<div class="row">
	<button class="button azul" data-ng-click="go('/cadastros/sigla/novo')">NOVO CADASTRO</button>
</div>

<div class="row">
	<input type="text" name="busca" placeholder="Pesquise aqui. Ex: RS, SC" ng-model="searchText">
</div>

<div class="row">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>UF</th>
				<th>AÇÕES</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sigla in siglas | filter:searchText">
				<td>{{sigla.idSigla}}</td>
				<td>{{sigla.sigla}}</td>
				<td ng-show="sigla.idSigla" class="table-actions">
					<button class="button vermelho editar" data-ng-click="go('cadastros/sigla/editar/' + sigla.idSigla)">EDITAR</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>